@config {
theme: {
    fontSize: {
    sm: "2rem",
    base: "3rem",
    lg: "4rem",
    xl: "6rem",
    "2xl": "8rem",
    },
    fontFamily: {
    sans: ["Comic Sans MS", "cursive"],
    },
    extend: {
    colors: {
        neon: "#39ff14",
        weird: "#ff00aa",
        danger: "#ff0000",
    },
    spacing: {
        1: "10px",
        2: "25px",
        3: "50px",
        4: "100px",
    },
    animation: {
        wobble: "wobble 0.5s infinite",
    },
    keyframes: {
        wobble: {
        "0%": { transform: "rotate(0deg)" },
        "25%": { transform: "rotate(10deg)" },
        "50%": { transform: "rotate(-10deg)" },
        "75%": { transform: "rotate(10deg)" },
        "100%": { transform: "rotate(0deg)" },
        }
    }
    }
}
}
